@model MvcTomato.Models.WorkingDay

@{
    ViewBag.Title = "Edit";
    // TODO: Read about layout
    //Layout = "_Layout";
}

<h2>Edit</h2>
<div>
    <div>
        @Html.ValidationSummary()
    </div>
    <form method="post">
        <div>
            @Html.HiddenFor(m => m.Id)
            <div>
                <span id="Date">@Model.Date.ToString("dd/MM/yyyy")</span>
            </div>
            <div class="input-group col-xs-3">
                @Html.LabelFor(m => m.Enter, "Enter")
                @Html.TextBoxFor(m => m.Enter, "{0:hh\\:mm}", new { @class = "form-control", placeholder = "0:00" })
            </div>
            <div class="input-group col-xs-3">
                @Html.LabelFor(m => m.DinnerStart, "Dinner start")
                @Html.TextBoxFor(m => m.DinnerStart, "{0:hh\\:mm}", new { @class = "form-control", placeholder = "0:00" })
            </div>
            <div class="input-group col-xs-3">
                @Html.LabelFor(m => m.DinnerFinish, "Dinner finish")
                @Html.TextBoxFor(m => m.DinnerFinish, "{0:hh\\:mm}", new { @class = "form-control", placeholder = "0:00" })
            </div>
            <div class="input-group col-xs-3">
                @Html.LabelFor(m => m.Exit, "Exit")
                @Html.TextBoxFor(m => m.Exit, "{0:hh\\:mm}", new { @class = "form-control", placeholder = "0:00" })
            </div>
        </div>
        <br/>
        <input class="btn btn-default" type="submit" value="Submit"/>
    </form>
</div>
