@using MvcTomato.Helpers
@using System.Globalization
@model MvcTomato.ViewModels.HistoryViewModel
@{
    ViewBag.Title = "History";
}
<h2>@ViewBag.Title</h2>

<div>
    <div id="yearSelector" class="dropdown">
        <select class="form-control">
            @foreach (var year in Model.AvailableYears)
            {
                <option @(Model.Date.Year == year ? "selected=\"selected\"" : "")>@year</option>
            }
        </select>
    </div>
    <div id="monthSelector" class="dropdown">
        <select class="form-control">
            @for (int i = 0; i < 12; i++)
            {
                <option @((Model.Date.Month - 1) == i ? "selected=\"selected\"" : "") value="@(i + 1)">@CultureInfo.CurrentCulture.DateTimeFormat.MonthNames[i]</option>
            }
        </select>
    </div>
    <table class="table table-sm table-striped" style="width: 100%;">
        <tr>
            <th>Date</th>
            <th>Overtime</th>
            <th>Actions</th>
        </tr>
        @foreach (var day in Model.Days)
        {
            <tr>
                <td>@day.Date.ToString("dd/MM/yyyy")</td>
                <td class="@(day.Statistics < TimeSpan.Zero ? "shorttime" : "overtime")">@TimeFormatter.FormatTimeSpan(day.Statistics)</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = day.Id }) | <a href="#" id="deleteLink" data-url="/Home/Delete" data-id="@day.Id">Delete</a></td>
            </tr>
        }
    </table>
    <div>
        <div>
            <span>Total working hours: @string.Format("{0:hh\\:mm}", Model.TotalWorkedTime.Value)</span>
        </div>
        <div>
            <span>Total working hours with dinner: @string.Format("{0:hh\\:mm}", Model.TotalWorkedTimeWithDinner.Value)</span>
        </div>
    </div>
</div>

