@using MvcTomato.Helpers
@using MvcTomato.Models
@model WorkingDay
@{
  ViewBag.Title = "Home Page";
}

<div>
  <div>
    @DateTime.Today.ToString("dd MMMM yyyy")
  </div>
  <div>
    @Html.ValidationSummary()
  </div>
  @if (ViewBag.UncompleteToday != null)
  {
    WorkingDay today = ViewBag.UncompleteToday;
    <div>
      <p>You have uncompleted record for today:</p>
      <table>
        <tr>
          <th>Enter</th>
          <th>Dinner - Start</th>
          <th>Dinner - Finish</th>
          <th>Exit</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td>@string.Format("{0:hh\\:mm}", today.Enter)</td>
          <td>@string.Format("{0:hh\\:mm}", today.DinnerStart)</td>
          <td>@string.Format("{0:hh\\:mm}", today.DinnerFinish)</td>
          <td>@string.Format("{0:hh\\:mm}", today.Exit)</td>
          <td>@Html.ActionLink("Continue edit", "Edit", new { id = today.Id })</td>
        </tr>
      </table>
    </div>
  }
  <div>
    <form method="post">
      @Html.HiddenFor(m => m.Date, new {Value = DateTime.Today.ToString()})
      <table>
        <tr>
          <th>Enter</th>
          <th>Dinner - Start</th>
          <th>Dinner - Finish</th>
          <th>Exit</th>
        </tr>
        <tr>
          <td>@Html.TextBoxFor(m => m.Enter, "{0:hh\\:mm}")</td>
          <td>@Html.TextBoxFor(m => m.DinnerStart, "{0:hh\\:mm}")</td>
          <td>@Html.TextBoxFor(m => m.DinnerFinish, "{0:hh\\:mm}")</td>
          <td>@Html.TextBoxFor(m => m.Exit, "{0:hh\\:mm}")</td>
        </tr>
      </table>
      <br/>
      <input type="submit" value="Submit"/>
    </form>
  </div>
  <div>
      <h3>Month statistics</h3>
      @{
          if (ViewBag.MonthStatistics != null)
          {
              foreach (TimeSpan day in ViewBag.MonthStatistics)
              {
                  <span class="@(day < TimeSpan.Zero ? "shorttime" : "overtime")">@TimeFormatter.FormatTimeSpan(day)</span>
                  <br />
              }
              <span>__________</span>
              <br />
              <span class="@(ViewBag.MonthSum < TimeSpan.Zero ? "shorttime" : "overtime")">@TimeFormatter.FormatTimeSpan(ViewBag.MonthSum)</span>
              <br />
              <span>@ViewBag.MonthAllSum</span>
          }
      }
  </div>
  <div>
    <h3>Daily statistics</h3>
    @{
      if (ViewBag.DayStatistics != null)
      {
        <span class="@(ViewBag.DayStatistics < TimeSpan.Zero ? "shorttime" : "overtime")">@TimeFormatter.FormatTimeSpan(ViewBag.DayStatistics)</span>
      }
    }
  </div>
</div>